/* ejercicio2a.css BQ18002 */

pais {background-color:lightblue}

departamento[nombre]::before{content:attr(nombre);color:red;font-weight:bold;}
departamento{background-color:white;display:block;}
cabecera{display:inline;}
habitantes{color:rgb(70, 70, 18);display:inline;}
altura{color:rgb(12, 12, 14);display:inline;}
codigopostal{color:pink;display:inline; font-weight:bold}
territorio{color:rgb(56, 2, 56);}
lema{color:rgb(8, 8, 49);}
gentilicio{color:rgb(28, 44, 28);}
zonageografica{color:rgb(46, 21, 21);}